* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* body {} */

.bod {
    font-size: 14px;
    background: url('./ray-sangga-kusuma-7uSrOyY1U0I-unsplash.jpg') no-repeat;
    background-size: cover;
}

.welcome img {
    display: flex;
    width: 10%;
    height: 10%;
    margin-top: 5px;
    margin-left: 2%;
    background-color: #fff;
}

.varr {
    background: white;
    width: 510px;
    padding: 25px;
    margin: 10px auto 10px;
    /* margin-bottom: 5%; */
    margin-left: 60%;
    border-top: 5px solid rgb(13, 219, 47);
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.5);
}

.right img {
    width: 12%;
    margin-left: 83%;
    margin-top: -5%;
}

.varr h2 {
    font-size: 24px;
    line-height: 24px;
    padding: 30px;
    text-align: center;
}

.input-name {
    width: 90%;
    position: relative;
    margin: 20px auto;
}

.lock {
    padding: 8px 11px;
}

.input-name {
    margin-left: 35px;
}

.text-name {
    width: 100%;
    padding: 8px 0 8px 40px;
}

.input-name i {
    position: absolute;
    font-size: 18px;
    color: blue;
    border-right: 1px solid #cccccc;
}

.email {
    padding: 8px;
}

.user {
    padding: 8px;
}

.mobile {
    padding: 8px;
}

.text-name {
    border: 5px solid #cccccc;
}

.input-name input:last-of-type {
    margin-left: 40%;
}

.al a {
    text-decoration: none;
}